$font-fam: 'TheSansArabic';

//Dir
$direction:rtl;
$right: left;
$left: right;

//colors
$color-2: #e7484f;

$default-font-size:14px;

////////// SOCIAL COLORS //////////
$social-colors: (
  twitter: #2caae1,
  facebook: #3b579d,
  google: #dc4a38,
  linkedin: #0177b5,
  pinterest: #cc2127,
  youtube: #e52d27,
  github: #333333,
  behance: #1769ff,
  dribbble: #ea4c89,
  reddit: #ff4500
);