.box-comments-list{
    position: relative;
    padding: 0 0 50px;
    h2{
        font-size: 18px;
        @media(max-width:768px){
            font-size: 15px;
        }
        font-weight: 700;
        position: relative;
        padding-bottom: 10px;
    }
    .list-comments{
        .item{
            display: block;
            position: relative;
            padding: 0 0 15px;
            .box-item-comment{
                position: relative;
                padding: 0;
                .img-name{
                    position: relative;
                    width: 100%;
                    vertical-align: middle;
                    img{
                        width: 50px;
                        height: 50px;
                        margin-bottom: 10px;
                        margin-#{$right}:10px;
                        float: $left;
                        @include border-radius(50%);
                    }
                    span{
                        color: #707070;
                        font-size: 14px;
                        @media(max-width:768px){
                            font-size: 13px;
                        }
                        margin: 2px;
                        display: block;
                    }
                }
                p{
                    padding-#{$left}: 52px;
                    color: #828282;
                    font-size: 15px;
                    @media(max-width:768px){
                        font-size: 14px;
                    }
                    line-height: 25px;
                    margin-bottom: 5px;
                }
                &>.btn-radius-red{
                    padding: 2px 5px;
                    @include border-radius(3px);
                    font-weight: 100;
                    font-size: 14px;
                    @media(max-width:768px){
                        font-size: 13px;
                    }
                    margin-#{$left}: 60px;
                    margin-bottom: 15px;
                }
                &>.list-comments{
                    padding-#{$left}:55px;
                    @media(max-width:768px){
                        padding-#{$left}:0;
                    }
                    .item{
                        padding: 0 0 0;
                    }
                }
            }
            
        }
    }
}