.item-portfolio{
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    img{
        position: relative;
        width: 100%;
        height: 250px;
        object-fit: cover;
        @media(min-width: 992px){
            width: 460px;
            height: 300px;
        }
    }
    .overlay{
        position: absolute;
        left: 50%;
        top: 0;
        width: 0;
        height: 100%;
        background: $color-2;
        -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
        transition: width 0.5s 0.3s, visibility 0s 0.8s;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .box-desc{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 15px;
        text-align: center;
       // @include transitionAll(0.25s);
        opacity: 0;
        -webkit-transform: translate(-50%,150%);
        transform: translate(-50%,150%);
        -webkit-transition: -webkit-transform 0.50s, opacity 0.5s;
        transition: transform 0.50s, opacity 0.5s;
        .name{
            text-align: center;
            color: #ffffff;
            font-weight: 600;
            font-size: 20px;
            @media(max-width:768px){
                font-size: 18px;
            }
        }
        a{
            display: inline-block;
            width: 50px;
            height: 50px;
            background: #ffffff;
            color: #cccccc;
            text-align: center;
            @include border-radius(50%);
            font-size: 20px;
            line-height: 50px;
            margin: 5px;
            &:hover{
                color: $color-2;
            }
        }
    }
    &:hover{
        .box-desc{
            opacity: 1;
            transition-delay: 0.25s;
            -webkit-transition-delay: 0.25s;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }
        .overlay{
            width: 100%;
        }
    }
}