.item-client-slider{
    img{
        
    }
}
.control{
    z-index: 2;
    text-align: #{$right};
    padding-top: 15px;
    padding-bottom: 30px;
    button{
        border: 0;
        background: $color-2;
        color: #ffffff;
        z-index: 9;
        width: 40px;
        height: 40px;
        @include border-radius(3px);
        &:hover{
            color: #ffffff;
            background: #606060;
        }
        @if $direction == ltr{
           
            &.next{
                @include rotate(-180);
            }
        }@else if $direction == rtl{
            &.prev{
                @include rotate(-180);
            }
        } 
    }
}