.list-categories{
    position: relative;
    text-align: center;
    &.app-text-left{
        text-align: $left;
    }
    li{
        display: inline-block;
        a{
            display: inline-block;
            margin-bottom: 5px;
            background: $color-2;
            color: #ffffff;
            border: 2px solid $color-2;
            padding: 5px 15px;
            font-size: 13px;
            @media(max-width:768px){
                font-size: 12px;
            }
            font-weight: 600;
            @include border-radius(50px);
            &:hover,&.active{
                color:  $color-2;
                background: transparent;
                text-decoration: none;
            }
        }
    }
}