.portfolio-desc-text{
    .title{
        font-size: 21px;
        font-weight: 700;
        color: #575757;
        text-transform: uppercase;
        position: relative;
        padding: 0 0 15px;
        margin-bottom: 15px;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            #{$left}: 0;
            width: 130px;
            height: 3px;
            margin-#{$left}: 0;
            background: $color-2;
        }
    }
    p{
        font-size: 15px;
        color: #828282;
        font-weight: 100;
        line-height: 22px;
        margin: 0 0 10px;
    }
}
.feature-list{
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-#{$left}: 30px;
    li {
        list-style: none;
        color: #191919;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 10px;
        padding-#{$left}: 37px;
        position: relative;
        .icon{
            position: absolute;
            top: 0;
            left: 0;
            font-size: 24px;
            margin-#{$right}: 16px;
            color: $color-2;
            line-height: 24px;
        }
        a {
            color: #000;
            &:hover{
                color: $color-2;
                text-decoration: none;
            }
        }
    }
}